# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   Julia
4.   Scala
5.   SQL
6.   Java

Some of the commonly used libraries used by Data Scientists include:


1.   Numpy
2.   Pandas
3.   Scipy
4.   TensorFlow
5.   Keras
6.   Matplotlib
7.   SciKit-Learn

|Data Science Tools|
|------------------|
|jupyter NOtebook|
|Tableau|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
print("200 minutes = ",200/60,"hours")

200 minutes =  3.3333333333333335 hours

Objectives:


*   List popular languages for Data Science
*   List popular libraries for Data Science
*   List popular Data Science Tools

## Author
Amit Yadav